# Diretórios de cache e arquivos temporários
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks temporários
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*.swp

# VSCode e PyCharm configs locais
.vscode/
.idea/

# Logs e bancos temporários
logs.txt
*.log
*.sqlite3
*.db

# Arquivos ocultos do R
.Rhistory
.RData
.Rproj.user/